#mobileSearchBox {
    max-width: 60%;
  }
  
  #mobileSearchBox 
  .btn {
    color: #F8F8F4;
    background-color: #2B2118;
  }
  
  @media (max-width: 50em) {
    #mobileSearchBox {
      min-width: 100%;
    }
  }